/* .test {
    /* width: 79px; */
/* max-height: 70px; */

/* font-family: 'Inter';
    font-style: normal;
    font-weight: 500; */
/* font-size: 25px; */
/* line-height: 34px; */

/* align-items: center;
    text-align: center; */
/* border-bottom: 1px solid #E5E5E5; */
/* color: #e5e5e5;
} */

/* Modify the background color */

.bg-nav {
    background-color: #1A2C43;
}

.haha {
    margin-top: 3%;
}
