:root {
    --card-color: #e5e5e5;
    --card-background: #1A2C43;
}
  
  [data-theme="dark"] {
    --card-color: #1A2C43;
    --card-background: #E5E5E5;  
  }

.cards {
    width: 12rem;
    height: 16rem;
    background-color: var(--card-background);
    max-height: max-content;
    min-height: min-content;
    border-radius: 35px;
    /* color: var(--card-color) */
}

.cHeader {
    margin-left: 15px;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    color: var(--card-color)
}

.icon {
    margin-right: 10px;
}