.crypto-head {

}

.crypto-tab {
}

.crypto-body {
    background-color: #C6C6C6;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.crypto-nav {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.crumb ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}